@font-face
{
    font-family: Font1;
    src: url("D:/WebSite/resources/fonts/SourceSansPro-Light.ttf");
}

@font-face
{
    font-family: Font2;
    src: url("D:/WebSite/resources/fonts/Molot.otf");
}

@keyframes navbarAnim
{
    from
    {
        background-color: transparent;
        color: white;
    }
    to
    {
        background-color: white;
        color: black;
    }
}

ul
{
    list-style-type: none;
}

body
{
    z-index: 0;
    margin: 0;
    cursor:default;
}

header
{
    position: relative;
    z-index: 0;
    position: relative;
    width: 100%;
    height: 400px;
    background-image: url("D:/WebSite/resources/image/background.jpg");
    background-color: rgba(0,0,0,0.4);
}

.navbar
{
    z-index: 0;
    font-family: Font1;
    width: 100%;
    height: 60px;
    position: relative;
    background-color: rgba(0,0,0,0.8);
}

.button
{
    z-index: 0;
    position: relative;
    width: 100px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    float: right;
    margin-top: 10px;
    color: white;
    border-radius: 20px;
    margin-right: 20px;
}

.contact
{
    position: relative;
    z-index: 0;
    width: 100px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    float: right;
    margin-top: 10px;
    color: white;
    border-radius: 20px;
    margin-right: 20px;
}


.content
{
    margin: auto;
    width: 90%;
    height: auto;
}

.title
{
    position: relative;
    z-index: 15;
    width:800px;
    height: 180px;
    font-family: Font2;
    color: white;
    border-bottom: 2px solid white;
    font-size: 170px;
    text-align: center;
    top: 15%;
    margin-left: 600px;
}

.title p
{
    margin: auto;
    margin-bottom: 10px;
}

